.mainContent {
    margin: 15px;
    padding: 15px;
    background-color: black;
}

.card {
    background-color: white;
    border-radius: calc(min(30vw,30vh));
    border-color: black;
    min-height: 100vh;
}
