.mainContent {
    margin: 15px;
    padding: 15px;
    background-color: black;
}

.blogCard {
    background: black;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
}

.blogImage > img {
    border: 2px white solid;
    display: block;
    margin: auto;

}
