.navbar {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    color: #f2f2f2;
    position: relative;
    top: 0;

}

.navbar a {
    color: white;
    text-align: center;
    padding: 1.5vw 2vw;
    min-width: 5vw;
    text-decoration: none;
}

:not(#wtf) .activeLink {
    background:
            linear-gradient(
                    to right,
                    rgba(0, 100, 200, 1),
                    rgba(255, 0, 180, 1),
                    rgba(240, 240, 240, 1)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 100ms;
}
