.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
    color: #f2f2f2;
}

.navbar a {
    text-align: center;
    padding: 1.5vw 2vw;
    min-width: 5vw;
    text-decoration: none;
}

:not(#wtf) .activeLink {
    background-color: white;
    color: black;
}
