.blogPage {
    position: relative;
    color: rgba(220,220,220);
    --card-background-color: rgba(25, 25, 25, 0.5);
}

.blogPage h1 {
    color: ghostwhite;
    text-align: center;
    font-weight: 200;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.blogPage h2 {
    color: ghostwhite;
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    padding: 3rem;
}

.blogGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2vw;
}

.blogCard {
    text-decoration: none;
    position: relative;
    height: 40vh;
    border: 2px solid ghostwhite;
    border-radius: 10px;
    margin: 1vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 1.5em;
    background: var(--card-background-color);
    opacity: 0.5;
}

.blogCard:hover {
    opacity: 1;
}

.blogImageWrapper {
    height: 100%;
    flex: 1 1 50%;
    position: relative;
}

.blogImage {
    flex: auto;
    height: 100%;


}

.blogImage > img {
    object-fit: contain;
    height: 100%;
    max-height: 100%;
    margin: auto;
}

.blogTitle {
    align-self: center;
    flex: 1 1 50%;
    font-size: 1.3rem;
    text-align: center;
}

.blogText {
    margin: 1em;
    padding: 1em;
    flex-basis: 20%;
}

.blogContent {
    position: relative;
    padding: 1rem;
    background-color: #dddddd;
    color: #222222;
    max-width: 70vw;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.blogContent * {
    margin: 2rem;
}

.blogContent img {
    max-height: 100vh;
    margin: auto;
    border: 5px solid #222222;
    border-radius: 15px;
}

.links a {
    text-decoration: none;
}

.marginLeft0 {
    margin-left: 0;
}

.backdropImage {
    filter: blur(10px);

    object-fit: fill;
    min-height: 100%;
    position: absolute;
    z-index: -10;
    margin: auto;


}


@media(max-width: 768px) {
    .blogContent * {
        font-size: 0.8em;
        margin: 0;
    }

    .marginLeft0 {
        margin-left: 0;
    }

    .blogPage h2 {
        font-size: 1.3rem;
    }


    .blogImageWrapper {
        flex-basis: 50%;
    }



}