.homeContainer {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.homeText {
    color: whitesmoke;
    align-self: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 9999px;
}

.cursorAura {
    background: rgba(255,255,255, 0.5);
    height: 3dvw;
    width: 3dvw;
    border-radius: 999px;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    pointer-events: none;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
    }

    .homeText {
        flex: 1 1 50%;
        text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
        font-size: 2rem;
    }
}
